.intro__paragraph {
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .intro__paragraph {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .intro__paragraph {
        max-width: 288px;
    }
}